{% extends "catalog/base.html" %}
{% block title %}Ассортимент{% endblock title %}
{% block header %}Ассортимент{% endblock header %}
{% block content %}

        <p>Самые популярные товары.</p>
                {% csrf_token %}
        <div class="row">

            {% for object in object_list %}
            <div class="col-md-4">
                <h2>{{ object.title }}</h2>
                    <div class="form-group">
                        <img src="/media/previews{{ object.image }}">
                         <div class="card-body">
                        <a href="/product_card/{{ object.id }}"><h5 class="card-title">{{ object.name }}</h5></a>
                        <p class="card-text">{{ object.description|truncatechars:100}}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
{% endblock content %}

