{% extends 'catalog/base.html' %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content %}
    <div class="col-md-5">
      <div class="card">
        <h1>{{ record.title }} ({{ object.slug }})</h1>
          {% if record.preview %}
        <img src="{{ product.preview.url }}" alt="{{ product.name }}">
          {% endif %}
        <p>{{ record.content }}</p>
        <div class="card-footer">
            <p>Просмотры: {{ record.views_count }}</p>
            {% if object.is_published %}
            <p>Опубликовано</p>
            {% else %}
            <p>Не опубликовано</p>
            {% endif %}
        </div>

      </div>
    </div>
{% endblock %}